# Notebook for evaluating forecasts

In [8]:
import pandas as pd
from sklearn.metrics import *

In [9]:
# Replace with your csv file name
df_results = pd.read_csv("result.csv")
df_solution = pd.read_csv("Solution_A.csv")

In [10]:
df_results

     Unnamed: 0       TIMESTAMP  FORECAST
0             0  20180201 01:00  0.916935
1             1  20180201 02:00  0.888870
2             2  20180201 03:00  0.866106
3             3  20180201 04:00  0.860340
4             4  20180201 05:00  0.856565
..          ...             ...       ...
667         667  20180228 20:00  0.740165
668         668  20180228 21:00  0.734580
669         669  20180228 22:00  0.725845
670         670  20180228 23:00  0.717028
671         671  20180301 00:00  0.687806

[672 rows x 3 columns]

In [11]:
df_solution

          TIMESTAMP     POWER
0    20180201 01:00  0.876351
1    20180201 02:00  0.921515
2    20180201 03:00  0.895380
3    20180201 04:00  0.898016
4    20180201 05:00  0.862974
..              ...       ...
667  20180228 20:00  0.666377
668  20180228 21:00  0.665494
669  20180228 22:00  0.740842
670  20180228 23:00  0.699803
671  20180301 00:00  0.710395

[672 rows x 2 columns]

In [12]:
def evaluate_preds(df_own_predictions: pd.DataFrame, df_solution: pd.DataFrame):
    
    format = '%Y%m%d %H:%M'
    
    df_own_predictions['DATETIME'] = pd.to_datetime(df_own_predictions['TIMESTAMP'].astype("string"), format=format)
    df_solution['DATETIME'] = pd.to_datetime(df_solution['TIMESTAMP'].astype("string"), format=format)
    
    df_own_predictions = df_own_predictions.set_index(pd.DatetimeIndex(df_own_predictions['DATETIME']))
    df_solution = df_solution.set_index(pd.DatetimeIndex(df_solution['DATETIME']))
    
    df_own_predictions.sort_index()
    df_solution.sort_index()
    
    assert len(df_own_predictions) == len(df_solution)
    df_len = len(df_own_predictions)
    assert df_own_predictions['DATETIME'][0] == df_solution['DATETIME'][0]
    assert df_own_predictions['DATETIME'][df_len-1] == df_solution['DATETIME'][df_len-1]
    
    preds=[]
    actuals=[]
    for index, values in df_own_predictions.iterrows():
        preds.append(df_own_predictions.loc[[index]]['FORECAST'][0])
        actuals.append(df_solution.loc[[index]]['POWER'][0])
    score = r2_score(actuals, preds)
    
    print("R2 SCORE: %f" % (score))

In [13]:
evaluate_preds(df_own_predictions=df_results, df_solution=df_solution)

R2 SCORE: 0.899094